.people-icon {
  color: #0e89f3 !important;
}

.players-list {
  height: 20px;
  width: 90%;
  margin: 10px 5% 0 5%;
  display: flex;
  align-self: flex-start;
}

.animated.fadeIn {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.answer-main {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 300px;
  height: 350px;
  background: #ffffff;
  border-radius: 15px;
}

.answer-bubble {
  width: 120px;
  height: 25px;
  line-height: 25px;
  border: 1px solid #f85f6b;
  border-radius: 25px;
  text-align: center;
  font-size: 12px;
}

.answer-text {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  font-size: 15px;
  text-align: center;
  width: 90%;
  color: #0e89f3;
  font-weight: bolder;
  margin: 0 0 10px 0;
  padding: 0;
}

.animated.flipInY {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.answers-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 90%;
  height: 170px;
  padding: 5px 5px 5px 5px;
  color: #0e89f3;
  font-weight: bolder;
}

.correct-button,
.wrong-button {
  width: 100%;
  height: 50px;
  font-size: 18px;
  padding: 0 15px 0 15px;
  border-radius: 25px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 2.5px 0 2.5px 0;
}

.correct-button {
  border: 1px solid #0e89f3;
  background: #0e89f3;
  color: #ffffff;
}

.wrong-button {
  background: #646464;
  color: #ffffff;
  border: 1px solid #ffffff;
}

.hidden {
  display: none;
}

@media (min-width: 650px) {
  .answer-main {
    margin: 0 25px 0 0;
  }
}

@media (min-width: 750px) {
  .answer-main {
    width: 350px;
    height: 400px;
  }
  .answer-text {
    font-size: 17.5px;
    width: 100%;
  }
  .answers-container {
    width: 95%;
  }
}
