.Login {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: -20px 0 0 0;
  height: 100vh;
  background-color: #0e89f3;
}

#loginbutton {
  color: #0e89f3 !important;
  background: #fff !important;
  font-size: 16px !important;
  width: 133px !important;
}

.Logo {
  width: 190px;
  height: 150px;
  margin: 0 0 20px 0;
}

@media (min-width: 650px) {
  .Logo {
    width: 35.4vw;
    height: 29.3vw;
  }
  #loginbutton {
    font-size: 3.08vw !important;
    width: 25vw !important;
    height: 5.5vw !important;
  }
}

@media (min-width: 768px) {
  .Logo {
    width: 300px;
    height: 250px;
    margin: 0 0 30px 0;
  }

  #loginbutton {
    font-size: 24px !important;
    width: 195px !important;
    height: 45px !important;
  }
}
