.Quiz {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
}
.quiz-container {
    margin: 60px 0px 0px 0px;
    max-width: 500px;
}

.host-container {
    height:100%;
    width: 100%;
    position:absolute; 
    z-index:-1; 
    left: 0px; 
    top:0;
  margin: 10px 0px 0px 0px;
}

.admin-control {
  position: absolute;
}
