.profile-card {
  margin: 2.5px 0 0 -7.5px;
  overflow-x: hidden !important;
}

.edit-container {
  padding: 0 16px 0 16px !important;
}

@media (min-width: 342px) {
  .profile-card {
    margin: 5px 0 0 -7.5px;
  }
}
