.header-main {
  margin: 12.5px 0 0 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 30px;
}

.header-bar {
  height: 30px !important;
  background-color: transparent !important;
  width: 92.5vw !important;
  border: none !important;
}

.logo-img {
  width: 30px;
  height: 25px;
}

.sidebar-item {
  margin-top: 15px !important;
}

.popover-header {
  left: 62.5px !important;
  top: 2.5px !important;
  width: 270px !important;
}

@media (min-width: 650px) {
  .header-main {
    margin: 22.5px 0 0 0;
  }
  .popover-header {
    padding: 0 12.5px 0 12.5px !important;
    width: 345px !important;
  }
}

@media (min-width: 1224px) {
  .header-main {
    margin: 32.5px 0 0 0;
  }
}
